/** Default popup */
.ol-popup > div {
  background-color: #fff;
  border-radius: 5px;
  border: none;
}
.ol-popup {
  margin: -11px 0;
  transform: translate(0, -22px);
  box-shadow: 0px 0px 4px rgb(0 0 0 / 60%);
  border-radius: 3px;
}
.ol-popup-top.ol-popup {
  margin: 11px 0;
  transform: none;
}
.ol-popup-left {
  margin: -11px -22px;
  transform: translate(0, -22px);
}
.ol-popup-top.ol-popup-left {
  margin: 11px -22px;
  transform: none;
}
.ol-popup-right {
  margin: -11px 22px;
  transform: translate(44px, -22px);
}
.ol-popup-top.ol-popup-right {
  margin: 11px 22px;
  transform: translate(44px, 0);
}
.ol-popup-middle {
  margin:0 10px;
  transform: none;
}
.ol-popup-middle.ol-popup-right {
  margin:0 -10px;
  transform: translate(-20px, 0);
}

.ol-popup .anchor {
  color: rgb(255, 255, 255);
}
.ol-popup .anchor:after,
.ol-popup .anchor:before {
  content:"";
  border-color: currentColor transparent;
  border-style: solid;
  border-width: 11px;
  margin: 0 -11px;
}
.ol-popup .anchor:after {
  border-color: #fff transparent;
  border-width: 11px;
  margin: 2px -11px;
}

.ol-popup-top .anchor:before,
.ol-popup-top .anchor:after {
  border-top:0;
  top:0;
}

.ol-popup-bottom .anchor:before,
.ol-popup-bottom .anchor:after {
  border-bottom:0;
  bottom:0;
}
.ol-popup-bottom .anchor:before {
  border-bottom:0;
  bottom:1px;
  filter: drop-shadow( 0px 2.3px 1px rgb(0 0 0 / 40%));
}
.ol-popup-top .anchor:before {
  border-top:0;
  bottom:-1px;
  filter: drop-shadow(0 -2.3px 1px rgb(0 0 0 / 40%));
}


.ol-popup-middle .anchor:before {
  margin: -11px -33px;
  border-color: transparent currentColor;
}
.ol-popup-middle .anchor:after {
  margin: -11px -31px;
  border-color: transparent #fff;
}
.ol-popup-middle.ol-popup-left .anchor:before,
.ol-popup-middle.ol-popup-left .anchor:after {
  border-left:0;
}
.ol-popup-middle.ol-popup-right .anchor:before,
.ol-popup-middle.ol-popup-right .anchor:after {
  border-right:0;
}


/** ol.popup */
.ol-popup {
  font-size:0.9em;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
.ol-popup .ol-popup-content {
  max-width: 500px;
  overflow:hidden;
  cursor: default;
  padding: 0.25em 0.5em;
}
.ol-popup.hasclosebox .ol-popup-content {
  margin-right: 1.7em;
}
.ol-popup .ol-popup-content:after {
  clear: both;
  content: "";
  display: block;
  font-size: 0;
  height: 0;
}

/** Anchor position */
.ol-popup .anchor {
  display: block;
  width: 0px;
  height: 0px;
  background:red;
  position: absolute;
  margin: -11px 22px;
  pointer-events: none;
}
.ol-popup .anchor:after,
.ol-popup .anchor:before {
  position:absolute;
}
.ol-popup-right .anchor:after,
.ol-popup-right .anchor:before {
  right:0;
}
.ol-popup-top .anchor { top:0; }
.ol-popup-bottom .anchor { bottom:0; }
.ol-popup-right .anchor { right:0; }
.ol-popup-left .anchor { left:0; }
.ol-popup-center .anchor { 
  left:50%; 
  margin-left: 0!important;
}
.ol-popup-middle .anchor { 
  top:50%; 
  margin-top: 0!important;
}
.ol-popup-center.ol-popup-middle .anchor { 
  display:none; 
}

/** Fixed popup */
.ol-popup.ol-fixed {
  background: darkblue;
  margin: 0!important;
  top: .5em!important;
  left: auto!important;
  right: 70px!important;
  bottom: auto!important;
  transform: none!important;
  z-index: 100!important;
}
.ol-popup.ol-fixed .anchor {
  display: none;
}
.ol-popup.ol-fixed.anim > div {
  animation: none;
}

/* .ol-popup .ol-fix {
  width: 1em;
  height: .9em;
  background: #fff;
  position: relative;
  float: right;
  margin: .2em;
  cursor: pointer;
} */
/* .ol-popup .ol-fix:before {
  content: "";
  width: .8em;
  height: .7em;
  display: block;
  border: .1em solid #666;
      border-right-width: 0.1em;
  border-right-width: .3em;
  box-sizing: border-box;
  margin: .1em;
} */

/** Add a shadow to the popup */
.ol-popup.shadow {
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}

/** Close box */
.ol-popup .closeBox {
  background-color: rgba(0, 60, 136, 0.5);
  color: #fff;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  float: right;
  font-size: 0.9em;
  font-weight: 700;
  width: 1.4em;
  height: 1.4em;
  margin: 5px 5px 0 0;
  padding: 0;
  position: relative;
  display:none;
}
.ol-popup.hasclosebox .closeBox {
  display:block;
}

.ol-popup .closeBox:hover {
  background-color: rgba(0, 60, 136, 0.7);
}
/* the X */
.ol-popup .closeBox:after {
  content: "\00d7";
  font-size:1.5em;
  top: 50%;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  line-height: 1em;
  margin: -0.5em 0;
  position: absolute;
}
.popup-feature {
  width: 20vw;
  min-width: 300px;
  max-width: 400px;
}
.popup-feature table {
  width: 100%;
  table-layout: fixed;
}
.popup-feature table td {
  max-width: 25em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.popup-feature table td div img {
  width: 100%;
  height: 100%;
  /* width: 64px; */
  /* max-height: 64px; */
  /* margin:0 0.5em ; */
  object-fit: contain;
}
.popup-feature tr:nth-child(2n+1) {
  background-color: #eee;
}
.popup-footer{
  display: flex;
}
.ol-popup-btn{
  background: none;
  border: none;
  border-radius: .03em;
  width: 2em;
  height: 2em;
  display: inline-block;
  position: relative;
  margin-right: 0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ol-popup-btn :hover{
  background: rgb(230, 230, 230);
  border-radius: 3px;
  cursor: pointer;
}
.ol-btn-icon {
  width: 20px;
  height: 20px;
  filter: grayscale(100%);
  opacity: 0.9;
}
.ol-btn-icon:hover {
  filter: none;
  opacity: 1;
}
.ol-btn-icon-mark {
  position: relative;
  top: -2.2em;
  right: -1em;
  color: rgb(255, 0, 0);
  font-weight: 700;
  /* height: 50%;
  filter: grayscale(100%);
  opacity: 0.9; */
}
.popup-feature .ol-zoombt {
  border: 0;
  width: 2em;
  height: 2em;
  display: inline-block;
  color: rgba(0,60,136,.5);
  position: relative;
  background: transparent;
  outline: none;
}
.popup-feature .ol-zoombt:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: .17em solid currentColor;
  border-radius: 100%;
  top: .3em;
  left: .3em;
}
.popup-feature .ol-zoombt:after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  top: 1.35em;
  left: 1.15em;
  border-width: .1em .3em;
  border-style: solid;
  border-radius: .03em;
  transform: rotate(45deg);
  box-shadow: -0.2em 0 0 -0.04em;
}

.popup-feature .ol-count{
  float: right;
  margin: .25em 0;
}
.popup-feature .ol-prev,
.popup-feature .ol-next {
  border-style: solid;
  border-color: transparent rgba(0,60,136,.5);
  border-width: .5em 0 .5em .5em;
  display: inline-block;
  vertical-align: bottom;
  margin: 0 .5em;
  cursor: pointer;
}
.popup-feature .ol-prev{
  border-width: .5em .5em .5em 0;
}

.popup-header{
  position: relative;
  font-size: 12px;
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  flex: 0 0 auto;
  /* width: max-content; */
}
.popup-header-title{
  border: none;
  background: transparent;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  color: inherit;
  text-align: initial;
}
.popup-header-title:hover{
  background: rgb(230, 230, 230);
}
.popup-header-btn{
  padding: 0 7px;
  margin: 0 0 0 auto;
  display: flex;
  font-size: 20px;
}
.popup-header-fix {
  width: 1em;
  height: 1em;
  background: #fff;
  position: relative;
  /* float: right; */
  margin: .2em;
  cursor: pointer;
}
/* .popup-header-fix:before {
  content: "";
  width: .8em;
  height: .7em;
  display: block;
  border: .1em solid #666;
      border-right-width: 0.1em;
  border-right-width: .3em;
  box-sizing: border-box;
  margin: .1em;
}
.popup-header-fix:hover:before {
  border-color: #000;
} */
.popup-header-cls {
  position: relative;
  /* right: 1em; */
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-align: center;
  color: #666;
  margin: .2em;
  cursor: pointer;
}

/* .popup-header-cls:before {
  position: absolute;
  content: '';
  width: 0.15em;
  height: .9em;
  background: #666;
  transform: rotate(45deg);
  left: 50%;
}
.popup-header-cls:after {
  content: '';
  position: absolute;
  width: 0.15em;
  height: 0.9em;
  background: #666;
  transform: rotate(-45deg);
  left: 50%;
}
.popup-header-cls:hover:before {
  background-color: rgb(0, 0, 0);
}
.popup-header-cls:hover:after {
  background-color: rgb(0, 0, 0);
} */
/* .popup-tablepan::-webkit-scrollbar {
  display: none;
} */
.popup-body{
  position: static;
  /* width:20vw; */
  width: 20vw;
  min-width: 300px;
  max-width: 400px;
  /* max-height: 200px; */
  /* max-width: 400px ; */
  overflow:hidden;
  object-fit: contain;
  /* scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: hidden; */
}
.popup-body-kml img {
  max-width: 100% !important;
}
.popup-tr{
  width: 100%;
  /* height: 30px; */
}
.popup-td-key{
  width: 30%;
  word-wrap: break-word;
}
.popup-td-value{
  word-wrap: break-word;
  height: 100%;
  max-height: none!important;

}
.popup-td-value-imgdivs {
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  /* width: 100%; */
  height: 100%;
  /* overflow:hidden */
}
.popup-td-value-imgdiv{
  float: left;
  width: 50px;
  height: 50px;
  margin:0.5em 0.5em 0 0;
  /* background: #424242; */
  border: #bdbdbd solid 0.5px;
}
/* .popup-tablepan :-webkit-scrollbar{
  display:none;
} */

.ol-miniscroll {
  position: relative;
}
.ol-miniscroll:hover .ol-scroll {
  opacity: .5;
  transition: opacity 1s;
}
.ol-miniscroll .ol-scroll {
  touch-action: none;
  position: absolute;
  right: 0px;
  width: 9px;
  height: auto;
  max-height: 100%;
  opacity: 0;
  border-radius: 9px;
  transition: opacity 1s .5s;
  overflow: hidden;
  z-index: 1;
}
.ol-miniscroll .ol-scroll > div {
  touch-action: none;
  position: absolute;
  top: 0;
  right: 0px;
  width: 9px;
  height: 9px;
  box-shadow: inset 10px 0 currentColor;
  border-radius: 9px / 12px;
  border: 2px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
}
.ol-miniscroll .ol-scroll.ol-100pc {
  opacity: 0;
}

.popup-body-profile {
  /* position: relative; */
  height: 200px !important;
  /* width: 300px */
}
.popup-body-profile-bt{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.popup-body-profile-bt img{
  height: 25px;
  cursor: pointer;
}
.popup-body-profile-bt button{
  width: 70px;
  background: #fff;
  border: 2px solid #00aeff;
  border-radius: 12px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}